<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.backoffice">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menuPrincipal"
            android:screenOrientation="portrait"/>
        <activity android:name=".menuEntrega"
            android:screenOrientation="portrait"/>
        <activity android:name=".scanner"
            android:screenOrientation="portrait"/>
        <activity android:name=".confirmarEntrega"
            android:screenOrientation="portrait"/>
        <activity android:name=".menuRecibo"
            android:screenOrientation="portrait"/>
        <activity android:name=".confirmarRecibo"
            android:screenOrientation="portrait"/>
        <activity android:name=".popUpRecibo"
            android:screenOrientation="portrait"/>
        <activity android:name=".verificacionEquipos"
            android:screenOrientation="portrait"/>
        <activity android:name=".inventario"
            android:screenOrientation="portrait"/>
        <activity android:name=".armadoMochilas"
            android:screenOrientation="portrait"/>
        <activity android:name=".controlObservaciones"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>